.heading
{
	font-family: "monaco";
	font-size: 55px;
	color: #0099ff;
	text-align: right;
}

.header
{
	width: 800px;
	float: left;
	margin-left: 100px;
	height: 125px;
}

.subheader
{
	font-family: "monaco";
	font-size: 10px;
	text-align: right;
}

.subheading
{
	width: 800px;
	float: left;
	margin-left: 100px;
}

.image
{
	float: right;
	margin-right: 200px;
	margin-top: 15px;
	height: 250px;
}

.hRule
{
	width: 40%;
	text-align: center;
	margin-left: 330px;
}

.hRule2
{
	width: 80%;
	text-align: center;
}

.navbar
{
	float: left;
	margin-top: 10px;
	margin-left: 300px;
	font-family: "monaco";
	font-size: 20px;
	height: 90px;
}

ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #b3ecff;
    float: left;
}

li
{
    float: left;
}

li a
{
    display: block;
    padding: 15px 50px;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

a:hover
{
    background-color: #1ac6ff;
}